.todo-wrap {
    max-width: 100%;
    background: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg")
        no-repeat center;
    background-size: cover;
    align-items: center;
    padding: 0.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 1.25rem;
}
.todo-wrap .todo {
    max-width: 100%;
}
.wrap-input {
    display: inline-block;
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
}
.todo-wrap .right {
    width: 70px;
}
.todo-wrap .right > * {
    cursor: pointer;
}
.todo-wrap .right > *:active {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
}
.todo-wrap .right > * + * {
    margin-left: 0.25rem;
}
