.App {
    min-height: 100vh;
    max-width: 850px;
    margin: 0 auto;
    color: #efefef;
}
header h2 {
    text-transform: uppercase;
    text-align: center;
    margin-block: 2rem;
    font-size: 2.5rem;
}
.card-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
}
